* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

body {
    background: #e4f9f5;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

main {
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

main,
.game {
    display: flex;
    justify-content: space-around;
}

.menu {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.menu img {
    width: 40px;
    height: 40px;
}

.menu button {
    margin: 2px auto;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.menu button:hover {
    cursor: pointer;
}

.menu button:hover img {
    opacity: 0.8;
}

button:focus,
button:active {
    outline: none;
}

#myModal{
    display: none;
    background-color: rgba(228, 249, 245, 0.8);
}

#myModalFirst{
    display: flex;
    background-color: rgb(228, 249, 245);
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    align-items: center;
}

.modal img {
    position: absolute;
    right: 1vw;
    top: 1vw;
    height: 1vw;
    width: 1vw;
}

.modal-block{
    display: none;
    justify-content: center;
    padding: 1vw;
    height: 80%;
}

.modal-block, #modalAuth {
    position: relative;
    background: #fff;
    align-self: center;
    flex-direction: column;
    align-items: center;
    margin-left: 34vw;
    width: 30%;
}

.modal-block__level, #startGame {
    margin: 2%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: #11999e;
    border: none;
    border-radius: 10px;
    transition: background 0.3s;
}

.modal-block__level{
    padding: 10%;
}

.modal-block__level:hover, #startGame:hover {
    background: #106d70;
}

.modal-message {
    position: relative;
    background-color: #fff;
    width: 30%;
    height: 80%;
    padding: 1vw;
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.modal-message__header {
    font-size: 20px;
    color: #40514e;
    text-align: center;
    padding: 15px;
    display: flex;
}

.modal-message-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5%;
    height: 5vh;
}

.modal-message-content button {
    height: 100%;
    width: 30%;
    background-color: #11999e;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 5%;
}

.modal-message-content button:hover {
    background-color: #106d70;
}

#modalAuth{
    display: flex;
    height: 60%;
    justify-content: space-around;
}

#userName{
    width: 80%;
    padding: 3%;
    font-size: 15px;
    border: 1px solid rgb(138, 138, 138);
    outline:none;
    box-sizing: unset;
}

#startGame{
    justify-self: flex-end;
    padding: 5% 10%;
}

.memo {
    background: #fff;
    border-radius: 10px;
    height: 650px;
    width: 650px;
    margin: 7px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.memo .selected,
.memo .defeated {
    display: flex;
    align-items: center;
    justify-content: center;
}

.memo img {
    height: 50%;
    width: 50%;
    transition: 0.3s;
}

.memo div:not([class="modal"]) {
    background: #11999e;
    border-radius: 10px;
    transition: 0.3s background;
}

.memo .selected {
    background: #30e3ca !important;
}

.memo .defeated {
    background: #c6eced !important;
}

.memo div:not([class="defeated"]):not([class="selected"]):not([class="modal"]):hover {
    background: #106d70;
    cursor: pointer;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    height: 650px;
}

.chat-body {
    height: 570px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.chat-body::-webkit-scrollbar {
    width: 0;
}

.message {
    padding: 15px 20px;
    width: 70%;
    background: #e4f9f5;
    border-radius: 0 30px 30px 30px;
    margin-bottom: 10px;
}

.my-message {
    margin-left: calc(30% - 2 * 20px);
    padding: 15px 20px;
    width: 70%;
    background: #c6eced;
    border-radius: 30px 30px 0 30px;
    margin-bottom: 10px;
}

.message h3,
.my-message h3 {
    color: #11999e;
    font-size: 14px;
    margin: 0;
}

.message p,
.my-message p {
    font-size: 14px;
    color: #40514e;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.chat-bottom {
    bottom: 0px;
    padding: 20px;
    padding-bottom: 5px;
}

.chat-send {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    background: #30e3ca;
    margin-bottom: 10px;
    width: 100%;
    height: 2px;
}

.chat textarea {
    resize: none;
    outline: none;
    -moz-appearance: none;
    border: none;
    height: 30px;
    font-size: 16px;
    width: calc(100% - 30px);
}

.chat button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    padding: 10px;
    border-radius: 50%;
    transform: translateX(10px);
}

.chat button:focus {
    animation: send-anima 0.5s 1;
}

.chat button:focus img {
    animation: send-animb 0.5s 1;
}

.chat button img {
    width: 30px;
    height: 30px;
    transform: translateX(-7%);
}

@keyframes send-anima {
    0%,
    100% {
        background: none;
    }
    50% {
        background: #e4f9f5;
    }
}

@keyframes send-animb {
    0%,
    100% {
        opacity: 100%;
    }
    50% {
        opacity: 80%;
    }
}

@media only screen and (max-width: 1280px) {
    .memo {
        height: 550px;
        width: 550px;
    }
    .chat {
        height: 550px;
    }
    .chat-body {
        height: 530px;
    }
    .message h3,
    .my-message h3,
    .message p,
    .my-message p,
    .chat textarea {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1024px) {
    .menu img {
        width: 30px;
        height: 30px;
    }
    .memo {
        height: 450px;
        width: 450px;
    }
    .memo,
    .memo div:not([class="modal"]),
    .chat {
        border-radius: 7px;
    }
    .chat {
        height: 450px;
        width: 300px;
        padding: 7px;
    }
    .chat-body {
        height: 430px;
    }
    .message h3,
    .my-message h3,
    .message p,
    .my-message p,
    .chat textarea {
        font-size: 12px;
    }
    .chat textarea {
        height: 20px;
        width: calc(100% - 20px);
    }
    .chat button img {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 830px) {
    .memo {
        height: 350px;
        width: 350px;
    }
    .chat {
        height: 350px;
    }
    .chat-body {
        height: 330px;
    }
    .message h3,
    .my-message h3,
    .message p,
    .my-message p,
    .chat textarea {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .menu img {
        width: 5vw;
        height: 5vw;
    }
    .memo {
        height: 45vw;
        width: 45vw;
    }
    .memo,
    .memo div:not([class="modal"]),
    .chat {
        border-radius: 0.7vw;
    }
    .chat {
        height: 45vw;
        padding: 0.7vw;
    }
    .chat-body {
        height: 43vw;
    }
    .message h3,
    .my-message h3,
    .message p,
    .my-message p,
    .chat textarea {
        font-size: 1.4vw;
    }
    .chat textarea {
        height: 2vw;
        width: calc(100% - 2vw);
    }
    .chat button img {
        width: 2vw;
        height: 2vw;
    }
    .message {
        padding: 0.7vw 1vw;
        border-radius: 0 1.5vw 1.5vw 1.5vw;
        margin-bottom: 0.5vw;
    }
    .my-message {
        margin-left: calc(30% - 2 * 1vw);
        padding: 0.7vw 1vw;
        border-radius: 1.5vw 1.5vw 0 1.5vw;
        margin-bottom: 0.5vw;
    }
    .message p,
    .my-message p {
        margin-bottom: 0.5vw;
    }
    .chat-bottom {
        padding: 1vw;
        padding-bottom: 0.2vw;
    }
    .line {
        margin-bottom: 0.5vw;
        height: 0.2vw;
    }
}